body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	overflow: hidden;
	background:none;
}
body,td,th {
	font-family: ו;
	font-size: 12px;
}
.alpha {
	/*background-color: #94D0EE;*/
	filter: alpha(opacity=80);opacity: 0.8; -moz-opacity:0.8;
}
.menu {
	color: #FFFFFF;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	filter: alpha(opacity=100);opacity: 1; -moz-opacity:1;
 
	position:relative;
}
.menu ul{
	list-style:none;
}
.menu li {
	list-style:none;
	float:left;
}
#menubar{ 
	
}
#menubar ul{
	margin:0;
}
#menubar ul li{
	
	float: left;
	margin-left: 0px;
}
#menubar a{
    background:url("../../skins/images/menu_icon2.gif") no-repeat;
	color: #fff;
	text-decoration: none;
	font-size:12px;
	display:block;float:left;
	float:left;
	width:180px;
	height:24px;
	padding-top:5px;
	text-align:left;
	padding-left:20px;  margin:0px;	
	filter: alpha(opacity=100);opacity: 1; -moz-opacity:1;
}

#menubar a:hover{
	background:url("../../skins/images/menu_icon.gif") #94D0EE no-repeat; 
	filter: alpha(opacity=80);opacity: 0.8; -moz-opacity:0.8;
	
	color: #000; text-decoration: none;
	font-size:12px; display:block; float:left;
	width:180px; height:24px;
	padding-top:4px; border:1px solid #fff; text-align:left;
	padding-left:20px; margin:0px;
}
.copyright {
	font-family: "Arial";
	font-size: 12px;
	line-height: 18px;
	color: #E1FEFF;
	padding-left: 10px;
}
.copyright a {
	color: #E1FEFF;
	text-decoration: none;
}
.copyright a:hover {
	color: #E1FEFF;
	text-decoration: underline;
}